
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background: white;
    color:black;
    padding: 10px 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: auto;
    padding: 10px 10% 30px 10%;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

li {
    text-decoration: none;
    display: inline;
    padding: 0 10px;
}

.nav-bar a {
    font-weight: bold;
    color: black;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    font-size: 0.85em;
}

.pseudo-button { 
    border: 1px solid #EFEFF1;
    padding-inline: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    font-weight:400;
}

.pseudo-button:hover {
    background-color: #EFEFF1;
}

.download-svg {
    width: 15px;
    height: 15px;
}

.hero {
    background: rgb(179, 179, 179);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.person-svg{
    width: 25px;
    height: 20px;
}

.location-svg {
    width: 25px;
    height: 20px;
}

